<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="event-heading">
                <h3 class="dis-in-bl" style="color :white">About Us</h3>
            </div>
            <div class="m-80">
                <p>Welcome to Happy Memories.</p>
                <p>where we believe that every moment is an opportunity for magic.</p>

                   <p>At Happy Memories, we specialize in crafting extraordinary events that leave lasting impressions. From intimate gatherings to grand celebrations, we are passionate about transforming your vision into reality, ensuring that every detail is meticulously planned and flawlessly executed.
                    
                    Our team of experienced event planners brings creativity, innovation, and dedication to every project. With a keen eye for design and a commitment to excellence, we tailor each event to reflect your unique style and personality. Whether you're hosting a corporate conference, a lavish wedding, or a milestone birthday party, we strive to exceed your expectations and create memories that will be cherished for a lifetime.
                    
                    What sets us apart is our personalized approach and unwavering commitment to client satisfaction. We understand that every event is unique, and we take the time to listen to your needs, preferences, and aspirations. From the initial consultation to the final farewell, we work closely with you every step of the way, providing guidance, support, and peace of mind.
                    
                    Beyond our passion for event planning, we are dedicated to professionalism, integrity, and transparency. We believe in open communication, honesty, and integrity in all our interactions. You can trust us to handle every aspect of your event with the utmost care and professionalism, ensuring a stress-free and enjoyable experience from start to finish.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>