<%- include('./partials/header.ejs') %>
    
    <div class="content">
        <div class="center-container">
            <div class="m-80">
                <p>Welcome to Happy Memories.</p>
                <p>Are you ready to turn your next event into an unforgettable experience? </p>
                    <p>Because with our event management company, we're here to make your dreams come true, one spectacular moment at a time</p>
        
    
    </div>
<%- include('./partials/footer.ejs') %>